.locations {
  padding: 80px 0 60px 0;
}
.locations h3 {
  font-family: ff-title;
  color: var(--vz-brown);
  margin-bottom: 0;
}
.locations p {
  font-size: 17px;
}
.locations_numbers {
  width: 100%;
  display: grid;
  gap: 24px;
  grid-template-columns: auto auto;
}
.locations_numbers div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 3px solid var(--vz-brown);*/
  border: 2px solid var(--vz-brown);
  /*background-color: #262626;*/
  padding: 24px 16px;
  font-size: 16px;
  text-align: center;
  cursor: default;
}
/*.locations_numbers div:nth-child(1) {
  border-left: 0;
  border-top: 0;
}
.locations_numbers div:nth-child(2) {
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.locations_numbers div:nth-child(3) {
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
}
.locations_numbers div:nth-child(4) {
  border: 0;
}*/
.locations_numbers span {
  font-size: 38px;
  font-weight: 800;
  color: var(--vz-brown);
}
/* SWIPER */
.locationsSwiper {
  margin-top: 60px;
}
.locationsSwiper .swiper-slide {
  display: flex;
  padding-bottom: 20px;
}
.locationsSwiper .swiper-slide .location_image,
.locationsSwiper .swiper-slide .location_info {
  width: 45%;
}
.locationsSwiper .swiper-slide .location_image {
  height: 360px;
  border: 2px solid var(--vz-brown);
}
.locationsSwiper .swiper-slide .location_image img {
  position: relative;
  top: 20px;
  left: 14px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.locationsSwiper .swiper-slide-active .location_image img {
  animation: fadeIn 600ms ease both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}
.locationsSwiper .swiper-slide .location_info {
  position: relative;
  margin-left: 10%;
}
.locationsSwiper .swiper-slide .location_info h4 {
  color: var(--vz-brown);
}
.locationsSwiper .swiper-slide .location_info p {
  font-size: 17px;
}
.locationsSwiper .swiper-slide .location_info-btns {
  position: absolute;
  bottom: 0;
  right: 2px;
}
.locationsSwiper .swiper-slide .location_info-btns a {
  margin-left: 24px;
}
.locations .swiper-btn,
.locations .swiper-btn img {
  width: 21px;
  height: 21px;
  transition: 0.2s;
}
.locations .swiper-btn {
  margin-left: 24px;
}
.locations .swiper-btn img:hover {
  filter: grayscale();
}
