@import "css/fonts.css";
@import "css/colors.css";

/* BLOCKS */
@import "css/nav.css";
@import "css/footer.css";

/* SECTIONS */
@import "css/hero.css";
@import "css/about.css";
@import "css/partners.css";
@import "css/team.css";
@import "css/locations.css";

/* PAGES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: ff-primary;
  font-weight: 400;
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;
  color: var(--vz-text);
  background-color: var(--vz-background);
  overflow-x: hidden;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: var(--vz-gray-100);
}
body::-webkit-scrollbar {
  width: 0; /* change to 6px */
  background-color: var(--vz-gray-100);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--vz-beige);
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100px;
  cursor: default;
}
h2 {
  font-size: 30px;
  font-weight: 300;
}
h3 {
  font-size: 58px;
  line-height: 42px;
  margin-bottom: 30px;
}
h4 {
  font-family: ff-title;
  font-size: 60px;
  line-height: 44px;
}
h5 {
  font-size: 22px;
  font-weight: 400;
}
h6 {
  font-size: 20px;
  font-weight: 400;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.row-btn {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 11px 18px;
  color: var(--vz-brown);
  border: 2px solid var(--vz-brown);
  cursor: pointer;
  transition: 0.2s;
}
.row-btn:hover {
  color: var(--vz-background);
  background-color: var(--vz-brown);
}

/* HELPERS */
.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
